@charset "UTF-8";

/*CONFIGURAÇÕES DAS OUTRAS PAGINAS*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body > img{
    background-size: cover;
    width: 100vw;

    /*CONFIGURAÇÃO DA LARGURA DA IMAGEM NA PAGINA*/
}

body > a{
    display: inline-block;
    background-color: darkblue;
    color: white;
    height: 25px;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -6px;
    text-align: center;
    font-size: 1.6em;
    text-decoration: none;
}

body a:hover{
    background-color: rgb(93, 182, 236);
}