@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}
body a{
    text-decoration: none;
    color: white;
}

header{
    background-color: lightblue;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header>h1{
    font-size: 6vw;
}
header>p{
    font-size: 2vw;
    padding-top: 15px;
}

nav{
    background-color: lightblue;
    padding: 10px;
}
nav>a{
    padding: 10px;
}
div{
    text-align: center;
    padding-top: 50px;
}

section{
    display: inline-block;
    margin: 5px;
    width: 48vw;
    height: 37vh;
    padding-top: 50px;
    border-radius: 7px;
}

section p{
    display: inline-block;
    text-align: left;
    font-size: 2.7vw;
    line-height: 3.8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}

.container1{
    text-align: left;
    background-color: blue;
}
.container2{
    text-align: left;
    background-color: green;
}
.container3{
    text-align: left;
    background-color: lightgrey;
}
.container4{
    text-align: left;
    background-color: red;
}

#img1{
    background-image: url('imagens/coliseu-roma.jpg');
    background-position: center center;
}
#img2{
    background-image: url('imagens/franca.jpg');
    background-position: center center;
}
#img3{
    background-image: url('imagens/rj.jpeg');
    background-position: center top;
}
#img4{
    background-image: url('imagens/las-vegas.jpg');
    background-position: center right;
}